.actionButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  /* padding: 0 1em; */
  width: 100%;
  gap: 6px;
  height: 90%;
}

.actionButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 1.2rem;
  border: none;
  color: white;
}

.pay {
  background-color: hsl(120, 80%, 45%);
}

.discount {
  background-color: hsl(30, 90%, 55%);
}

.suspend {
  background-color: hsl(210, 70%, 50%);
}

.void {
  background-color: hsl(0, 80%, 50%);
}

.cancel {
  background-color: hsl(0, 0%, 60%);
}

.refund {
  background-color: hsl(50, 90%, 40%);
}

.default {
  background-color: hsl(0, 0%, 15%);
}
