.searchForm {
  display: flex;
  gap: 0.5em;
  flex: 1;
}

.itemSearchInput {
  width: 100%;
  font-size: 1em;
  padding: 0.5em 0.6em;
  border-radius: 0.5em;
  border: 1px solid black;
}

.btn {
  padding: 0 1em;
  border-radius: 0.5em;
  border: 1px solid black;
}
