.searchForm {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.itemSearchInput {
  width: 100%;
  font-size: 1em;
  padding: 0.5em 0.6em;
  border-radius: 0.5em;
  border: 1px solid black;
}

.numKeypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.numKeypad button {
  padding: 1em 0.5em;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.actionKeys {
  display: flex;
  justify-content: space-between;
}

.actionKeys button {
  padding: 1em;
  cursor: pointer;
  font-size: 1em;
}

.enter {
  width: 75%;
}

.keyboard {
  width: 20%;
}
