.searchResults {
  padding: 1em;
  width: 70%;
  height: 90dvh;
  overflow: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.results {
  list-style: none;
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 0.5em; */
  font-size: 1rem;
  width: 12%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 1em;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 1rem;
}
