.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
}

.right {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  width: 40%;
}

.searchResults {
  flex: 1;
  overflow: scroll;
  overflow-x: hidden;
}

.results {
  list-style: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  height: 0;
  padding: 1em;
  border-radius: 50%;
  border: 1px solid black;
  font-size: 1rem;
}

.noItems {
  padding: 0 0.5em;
}
