.container {
  height: 100dvh;
}

.charts {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em 0;
}

.barCharts {
  display: flex;
  justify-content: space-evenly;
}

.barCharts > * {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.lineCharts,
.pieCharts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.totals {
  display: flex;
  justify-content: space-between;
}
