.container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.total {
  display: flex;
  flex-direction: column;
  float: right;
  text-align: end;
  gap: 0.25em;
}

.name {
  width: 35%;
}

.qty {
  text-align: center;
  width: 35%;
}

.price {
  text-align: end;
  flex: 1;
}

/* .addedStyle {
  position: static;
  transform: translate(-100%, 0);
  height: fit-content;
  border: 1px solid black;
} */

/* SIRA STYLE NG RECEIPT */
