.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 0 1em;
  height: 10%;
}

.menus {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  flex: 1;
  /* gap: 2em; */
}

.menus li a {
  text-decoration: none;
  color: black;
}

.menus a:global(.active) {
  text-decoration: underline;
}
